<section class="container">
  <form class="formulario">
    <h2 class="formulario__titulo">Nova Tranferencia</h2>

    <div class="form-field">
      <label for="valor" class="form-field__label">Valor</label>
      <input id="valor" type="text" class="form-field__input" />
    </div>

    <div class="form-field">
      <label for="destino" class="form-field__label">Destino</label>
      <input id="destino" type="text" class="form-field__input"/>
    </div>

    <div class="botao-wrapper" >
      <button class="botao">Tranferir</button>
    </div>
  </form>
</section>
